<div class="adyen-payment-form adyen-payment-direct-debit-form payment-form" id="adyenDirectDebit">

    <label>{{ 'adyenDirectDebit.owner_name' | trans }}</label>
    <div class="field">
        {{ form_widget(form.adyenDirectDebit.owner_name, { 'attr': {'placeholder': 'adyenDirectDebit.owner_name' | trans } }) }}
        {{ form_errors(form.adyenDirectDebit.owner_name) }}
    </div>

    <label>{{ 'adyenDirectDebit.iban_number' | trans }}</label>
    <div class="field">
        {{ form_widget(form.adyenDirectDebit.iban_number, { 'attr': {'placeholder': 'adyenDirectDebit.iban_number' | trans } }) }}
        {{ form_errors(form.adyenDirectDebit.iban_number) }}
    </div>
</div>